<div 
    class="file-icon"
    [style.width]="width ? width + 'px' : null">
  <ng-container *ngIf="item.folder">
    <div class="folder-container">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 40 32" style="enable-background:new 0 0 40 32;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#FFA000;}
          .st1{fill:#FFCA28;}
        </style>
        <path class="st0" d="M36,4H18l-4-4H4C1.8,0,0,1.8,0,4v8h40V8C40,5.8,38.2,4,36,4z"/>
        <path class="st1" d="M36,4H4C1.8,4,0,5.8,0,8v20c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4V8C40,5.8,38.2,4,36,4z"/>
      </svg>
   
      <fs-gallery-folder-icon-info
        [item]="item">
      </fs-gallery-folder-icon-info>
    </div>
  </ng-container>
  <ng-container *ngIf="!item.folder">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 309.267 309.267" style="enable-background:new 0 0 309.267 309.267;" xml:space="preserve">
      <g>
        <path [attr.fill]="color" d="M38.658,0h164.23l87.049,86.711v203.227c0,10.679-8.659,19.329-19.329,19.329H38.658
        c-10.67,0-19.329-8.65-19.329-19.329V19.329C19.329,8.65,27.989,0,38.658,0z" />
        <path [attr.fill]="darkColor" d="M289.658,86.981h-67.372c-10.67,0-19.329-8.659-19.329-19.329V0.193L289.658,86.981z" />
      </g>
    </svg>
  </ng-container> 

  <div class="file-ext" *ngIf="item.mime.extension" [style.fontSize]="fontSize + 'px'">
    {{ item.mime.extension }}
  </div>
</div>
