:host {
  height: 85%;
}

.file-icon {
  position: relative;
  height: 100%;

  svg {
    height: 100%;
  }

  .file-ext {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    display: flex;
    align-items: center;

    div {
      padding: 0px 4px;
      border-radius: 3px;
      opacity: .8;
    }
  }

  .mat-icon {
    font-size: 90px;
    width: 90px;
    height: 90px;
    color: #ccc;
  }
}
