:host {
  ::ng-deep {
    .grid-mode {
      .fs-list-table-container {
        display: none;
      }
    }

    .fs-list-col-selection {
      width: 1%;
    }
  }
}

.icon {
  img {
    border-radius: 5px;
  }

  fs-gallery-file-icon {
    display: flex;
    justify-content: center;
    height: 50px;
  }
}

.name {
  cursor: pointer;
}
