<ng-container *ngIf="listConfig">
  <fs-list [config]="listConfig"
           [ngClass]="{'grid-mode': (galleryConfig.viewMode$ | async) === 'gallery'} "
           #list>
    <fs-list-column width="1%">
      <ng-template fs-list-cell let-row="row">
        <div class="icon">
          <ng-container *ngIf="row.mime.type === MimeType.Image else icon">
            <img [src]="row.preview" alt="" [style.width]="imageWidth + 'px'">
          </ng-container>

          <ng-template #icon>
            <fs-gallery-file-icon [type]="row.mime.type"
                                  [subtype]="row.mime.subtype"
                                  [style.width]="imageWidth + 'px'">
            </fs-gallery-file-icon>
          </ng-template>
        </div>
      </ng-template>
    </fs-list-column>

    <fs-list-column>
      <ng-template fs-list-cell let-row="row">
        <a (click)="openPreview(row)" class="name">{{ row.name }}</a>
      </ng-template>
    </fs-list-column>
  </fs-list>
</ng-container>
