@use '@firestitch/style/styles' as fs-style;

.container {
  width: 300px;
  padding: 10px 18px;
  box-sizing: border-box;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: fs-style.$safe-area-top;

    h1 {
      margin: 0;
    }
  }
}