<div class="info">
  <div
      *ngIf="item.mime.type && fsGalleryService.config.info.icon!==false"
      class="icon">
    <fs-gallery-icon [item]="item"></fs-gallery-icon>
  </div>

  <div class="name" [matTooltip]="item.name" matTooltipPosition="above">
    <div>{{ item.name }}</div>
    <div class="description">
      <fs-gallery-thumbnail-info-description
        [item]="item">
      </fs-gallery-thumbnail-info-description>
    </div>
  </div>

  <fs-menu *ngIf="fsGalleryService.config.info.menu">
    <ng-template
        fs-menu-item
        (click)="menuClick($event, action, item)"
        *ngFor="let action of fsGalleryService.config.info.menu.actions">
      {{action.label}}
    </ng-template>
  </fs-menu>
</div>
