<div class="info" *ngIf="fsGalleryService.config.info!==false">
  <div
    *ngIf="fsGalleryService.config.info.icon!==false"
    class="icon"
    [ngClass]="{
      'image-color': item.mime.type === MimeType.Image,
      'application-color': item.mime.type === MimeType.Application,
      'video-color': item.mime.type === MimeType.Video }">
    <mat-icon *ngIf="item.mime.type === MimeType.Image">image</mat-icon>
    <mat-icon *ngIf="item.mime.type === MimeType.Application">insert_drive_file</mat-icon>
    <mat-icon *ngIf="item.mime.type === MimeType.Video">videocam</mat-icon>
  </div>

  <div class="name" [matTooltip]="item.name" matTooltipPosition="above">
    <span>{{ item.data.name }}</span>
  </div>

  <fs-menu *ngIf="fsGalleryService.config.info.menu">
    <ng-template
        fs-menu-item
        (click)="menuClick($event, action, item)"
        *ngFor="let action of fsGalleryService.config.info.menu.actions">
      {{action.label}}
    </ng-template>
  </fs-menu>
</div>
