<div
    *ngIf="reorderEnabled"
    [class]="'fs-gallery-thumbnails zoom-size-' + galleryService.imageZoomInteger + ' layout-' + galleryService.config.layout"
    [dragula]="galleryService.dragName"
    [dragulaModel]="data$ | async"
    (dragulaModelChange)="orderChange.emit($event)">
  <ng-container *ngTemplateOutlet="thumbnailsTemplate"></ng-container>
</div>
<div
    *ngIf="!reorderEnabled && (data$ | async).length"
    [class]="'fs-gallery-thumbnails zoom-size-' + galleryService.imageZoomInteger + ' layout-' + galleryService.config.layout">
  <ng-container *ngTemplateOutlet="thumbnailsTemplate"></ng-container>
</div>
<ng-template #thumbnailsTemplate>
  <fs-gallery-thumbnail
    *ngFor="let item of data$ | async; let index = index; let first = first; let last = last"
    #fsGalleryThumbnail
    [index]="index"
    [first]="first"
    [last]="last"
    [item]="item">
  </fs-gallery-thumbnail>
</ng-template>
<div
    *ngIf="!(data$ | async).length"
    class="fs-gallery-no-results">
  <ng-container *ngIf="galleryService.emptyStateEnabled else notFound">
    <ng-template [ngTemplateOutlet]="galleryService.emptyStateTemplate"></ng-template>
  </ng-container>
  <ng-template #notFound>
    No Results Found
  </ng-template>
</div>