@import "./../../styles.scss";

:host {
  display: block;
}

.fs-gallery-thumbnails.layout-flow,
.fs-gallery-thumbnails.layout-flow-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  &.layout-flow-nowrap {
    flex-wrap: nowrap;
  }

  ::ng-deep {
    fs-gallery-thumbnail:last-child {
      .fs-gallery-thumbnail {
        margin-right: 0;
      }
    }
  }
}

.fs-gallery-thumbnails.layout-grid {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  min-width: 0;
  table-layout: fixed;
  grid-template-columns: repeat(auto-fit, minmax(var(--gallery-thumbnail-width, 150px), 1fr));

  &.zoom-size-larger {
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--gallery-thumbnail-width, 150px) * 4), 1fr));
  }

  &.zoom-size-large {
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--gallery-thumbnail-width, 150px) * 3), 1fr));
  }

  &.zoom-size-small {
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--gallery-thumbnail-width, 150px) / 2), 1fr));
  }

  &.zoom-size-smaller {
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--gallery-thumbnail-width, 150px) / 3), 1fr));
  }
}


// @media (max-width: 599px) {
//   .fs-gallery-thumbnails.layout-grid {
//     grid-template-columns: repeat(2, minmax(0, 1fr));

//     &.zoom-size-larger,
//     &.zoom-size-large,
//     &.zoom-size-1,
//     &.zoom-size-0 {
//       grid-template-columns: repeat(2, minmax(0, 1fr));
//     }
//   }
// }

.no-results {
  text-align: center;
  color: #999;
  padding: 10px 0;
}