.actions {
  padding: 20px 0;
}

.image-icon {
  color: #d13333;
}

.description {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  color: #EEE;
  padding: 10px 40px;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
}

.custom {
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: smaller;
}

.custom-footer {
  font-size: 12px;
  margin-top: -5px;
}

::ng-deep fs-gallery-thumbnail.gu-mirror .custom-footer {
  display: none;
}