<fs-gallery
  #gallery
  [config]="config"
  (reorderImages)="onReorderImages($event)">
  <ng-template fsGalleryThumbnail let-item="item">
    <a class="bottom-left"
       [ngClass]="{'image-icon': item.galleryMime === 'image'}"
       *ngIf="item.galleryMime === 'image'"
    >
      <mat-icon>image</mat-icon>
    </a>

    <a class="bottom-left"
       [ngClass]="{'application-icon': item.galleryMime === 'application'}"
       *ngIf="item.galleryMime === 'application'"
    >
      <mat-icon>insert_drive_file</mat-icon>
    </a>

    <a class="bottom-left"
       [ngClass]="{'video-icon': item.galleryMime === 'video'}"
       *ngIf="item.galleryMime === 'video'"
    >
      <mat-icon>videocam</mat-icon>
    </a>

    <fs-menu class="bottom-right item-actions">
      <ng-template fs-menu-item>
        Item 1
      </ng-template>
      <ng-template fs-menu-item>
        Item 2
      </ng-template>
    </fs-menu>
  </ng-template>
  <ng-template fsGalleryPreview let-item="item">
    <div>{{ item.description }}</div>
  </ng-template>
</fs-gallery>
