<fs-gallery-header
  class="gallery-header"
  [allowedFiles]="config.allowedFiles"
  [filterConfig]="config.filterConfig"
  [zoom]="config.zoom"
  [upload]="config.upload"
></fs-gallery-header>
<div
  *ngIf="dragEnabled"
  class="fs-gallery-thumbnails"
  [dragula]="galleryService.config.dragName"
  [dragulaModel]="data$ | async"
  (dragulaModelChange)="orderChange($event, true)">
  <ng-container *ngTemplateOutlet="thumbnailsTemplate"></ng-container>
</div>

<div
  *ngIf="!dragEnabled"
  class="fs-gallery-thumbnails">
  <ng-container *ngTemplateOutlet="thumbnailsTemplate"></ng-container>
</div>

<ng-template #thumbnailsTemplate>
  <fs-gallery-thumbnail
    *ngFor="let item of data$ | async"
    #fsGalleryThumbnail
    [data]="item"
    [overwriteThumbnailTemplate]="galleryService.config.overwriteThumbnailTemplate"
    (select)="openPreview($event)"
  >
  </fs-gallery-thumbnail>
</ng-template>
