<fs-gallery-header
  class="gallery-header"
  [allowedFiles]="config.allowedFiles"
  [filterConfig]="config.filterConfig"
  [zoom]="config.zoom"
  [upload]="config.upload"
  *ngIf="config.toolbar!==false">
</fs-gallery-header>

<!-- Groups mode -->
<ng-container *ngIf="config.groupsMode; else notGroupsMode">
  <ng-container *ngIf="data$ | async as groups ">

    <!--
    If first group is Unorganized group then we must push it out of dragula container
    to prevent it's drag
    -->
    <ng-container *ngIf="groups[0].locked">
      <fs-gallery-group [group]="groups[0]"></fs-gallery-group>
    </ng-container>

    <div class="wrapper fs-gallery-reorder-enabled"
         fsDragula="GROUPS"
         [dragEnabled]="!!galleryService.groupConfig?.groupsReorderEnd"
         [dragulaModel]="groups"
         (dragulaModelChange)="groupsOrderChange($event, true)"
    >
      <ng-container *ngFor="let group of groups; let index=index">
        <fs-gallery-group *ngIf="!(index === 0 && group.locked)"
                          [ngClass]="{ 'drop-locked': group.locked }"
                          [group]="group"
                          (reorderChange)="orderChange($event, group.data)"
        >
        </fs-gallery-group>
      </ng-container>
    </div>
  </ng-container>
</ng-container>


<!-- Simple gallery mode -->
<ng-template #notGroupsMode>
  <div
    [class]="'fs-gallery-reorder-enabled fs-gallery-thumbnails zoom-size-' + galleryService.imageZoomInteger + ' layout-' + galleryService.config.layout"
    [fsDragula]="galleryService.dragName"
    [dragEnabled]="reorderEnabled"
    [dragulaModel]="data$ | async"
    (dragulaModelChange)="orderChange($event, true)">

    <fs-gallery-thumbnail
      *ngFor="let item of data$ | async"
      #fsGalleryThumbnail
      [data]="item">
    </fs-gallery-thumbnail>

  </div>
</ng-template>
