@import "./../../styles.scss";

:host {

  ::ng-deep {
    [hidden] {
      display: none !important;
    }
  }
}


::ng-deep {
  body.fs-gallery-preview-open::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.fs-gallery-thumbnails.layout-flow,
.fs-gallery-thumbnails.layout-flow-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &.layout-flow-nowrap {
    flex-wrap: nowrap;
  }

  ::ng-deep {
    fs-gallery-thumbnail .fs-gallery-thumbnail {
      margin-right: 10px;
    }

    fs-gallery-thumbnail:last-child {
      .fs-gallery-thumbnail {
        margin-right: 0;
      }
    }
  }
}

::ng-deep {
  .fs-gallery-reorder-enabled {
    .fs-gallery-thumbnails {
      min-height: 50px;
    }
  }

  .fs-gallery-thumbnails.layout-grid {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    min-width: 0;
    table-layout: fixed;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    &.zoom-size-3 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &.zoom-size-2 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &.zoom-size-1 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &.zoom-size-0 {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
  }

  @media (max-width: 1000px) {
    .fs-gallery-thumbnails.layout-grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));

      &.zoom-size-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }

      &.zoom-size-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      &.zoom-size-1 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      &.zoom-size-0 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }
  }

  @media (max-width: 599px) {
    .fs-gallery-thumbnails.layout-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      &.zoom-size-3,
      &.zoom-size-2,
      &.zoom-size-1,
      &.zoom-size-0 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }

}
