<fs-filter
  [ngClass]="{
    'has-filter': galleryService.filterConfig.actions.length || galleryService.filterConfig.items.length
  }"
  [config]="galleryService.filterConfig"
  (ready)="filterReady()">
</fs-filter>

<ng-container *ngIf="galleryService.navItems.length">
  <div class="nav">
    <a (click)="navClick(null)">
      <mat-icon>home</mat-icon>
    </a>
    <ng-container *ngFor="let item of galleryService.navItems">
      <mat-icon class="chevron">chevron_right</mat-icon>
      <a (click)="navClick(item)">
        {{item.name}}
      </a>
    </ng-container>
  </div>
</ng-container>

<fs-gallery-list-view
  *ngIf="(galleryService.config.viewMode$ | async) === GalleryView.List"
  [imageWidth]="galleryService.imageWidth"
  [galleryConfig]="galleryService.config">
</fs-gallery-list-view>

<fs-gallery-gallery-view
  *ngIf="(galleryService.config.viewMode$ | async) === GalleryView.Gallery"
  [reorderEnabled]="reorderEnabled"
  [data$]="data$"
  (orderChange)="orderChange($event)">
</fs-gallery-gallery-view>
