<div class="header-content">
  <div class="filter">
    <fs-filter
      class="fs-gallery-filter"
      *ngIf="filterConfig"
      [filter]="filterConfig">
    </fs-filter>
  </div>

  <fs-gallery-zoom-control
    *ngIf="zoomEnabled"
    class="zoom-control"
    [step]="1"
    [zoom]="zoom"
    (change)="updateImageZoom($event)">
  </fs-gallery-zoom-control>

  <fs-file *ngIf="uploadCallback"
           (select)="upload($event)"
           [accept]="allow"
           multiple="true">
    <button type="button" mat-raised-button color="primary">Upload</button>
  </fs-file>
</div>

<small class="status" *ngIf="filterConfig">
  Showing {{ (data$ | async).length }} results
</small>
