<div class="header-content">
  <div class="filter">
    <fs-filter
      class="fs-gallery-filter"
      *ngIf="filterConfig"
      [filter]="filterConfig">

      <ng-template fsFilterStatusBar>
        Showing {{ (data$ | async).length }} {{ (data$ | async).length === 1 ? 'result' : 'results'}}
      </ng-template>
    </fs-filter>
  </div>

  <fs-gallery-zoom-control
    *ngIf="zoomEnabled"
    class="zoom-control"
    [step]="1"
    [zoom]="zoom"
    (change)="updateImageZoom($event)">
  </fs-gallery-zoom-control>


  <!-- <button
    *ngIf="mode===GalleryMode.Grid"
    type="button"
    mat-raised-button
    (click)="modeChange.emit(GalleryMode.List)">
      <mat-icon>view_list</mat-icon>
  </button>

  <button
    *ngIf="mode===GalleryMode.List"
    type="button"
    mat-raised-button
    (click)="modeChange.emit(GalleryMode.Grid)">
      <mat-icon>view_module</mat-icon>
  </button> -->

  <fs-file *ngIf="uploadCallback"
           (select)="upload($event)"
           [accept]="allow"
           multiple="true">
    <button type="button" mat-raised-button color="primary">Upload</button>
  </fs-file>
</div>
