span {
  position: absolute;
  right: 6px;
  display: flex;
  bottom: 6px;
  display: block;
  border-radius: 50%;
  min-width: 18px;
  text-align: center;
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  color: #fff;
  background: #888888;
}