<div class="header">
  <div class="actions left">
    <button 
        mat-icon-button 
        type="button" 
        class="action" 
        (click)="previewClosed.emit()">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
  </div>
  <div class="actions right">   
    <button 
        *ngFor="let previewAction of previewActions"
        mat-icon-button 
        type="button" 
        class="action" 
        (click)="previewAction.click(item)">
      <mat-icon>{{previewAction.icon}}</mat-icon>
    </button>
    <button 
        *ngIf="galleryService.config.details"
        mat-icon-button 
        type="button" 
        class="action" 
        (click)="detailsToggled.emit()">
      <mat-icon>info_outline</mat-icon>
    </button>
    <ng-container *ngIf="galleryService.config.previewMenu">
      <fs-menu>
        <ng-template 
            fs-menu-item 
            *ngFor="let menuItem of galleryService.config.previewMenu.items"
            (click)="menuItem.click(item)">
          {{menuItem.label}}
        </ng-template>
      </fs-menu>
    </ng-container>
  </div>
</div>
