<div class="header">
  <div class="actions left">
    <button
      mat-icon-button
      type="button"
      class="action"
      (click)="previewClosed.emit()">
      <mat-icon>
        close
      </mat-icon>
    </button>
  </div>
  <div class="actions right">
    @for (buttonAction of buttonItemActions; track buttonAction) {
      @if (buttonAction.upload) {
        <fs-file
          class="action"
          (select)="buttonAction.upload.select(item, $event)">
          <ng-container
            [ngTemplateOutlet]="buttonActionButton"
            [ngTemplateOutletContext]="{ buttonAction: buttonAction }">
          </ng-container>
        </fs-file>
      } @else {
        <span class="action">
          <ng-container
            [ngTemplateOutlet]="buttonActionButton"
            [ngTemplateOutletContext]="{ buttonAction: buttonAction }">
          </ng-container>
        </span>
      }
    }
    @if (galleryService.config.details) {
      <button
        mat-icon-button
        type="button"
        class="action"
        (click)="detailsToggled.emit()">
        <mat-icon>
          info_outline
        </mat-icon>
      </button>
    }
    <fs-gallery-menu
      [item]="item"
      [itemActions]="menuItemActions">
    </fs-gallery-menu>
  </div>
</div>
<ng-template
  #buttonActionButton
  let-buttonAction="buttonAction">
  <button
    mat-icon-button
    type="button"
    (click)="previewActionClick(buttonAction)"
    [matTooltip]="buttonAction.tooltip">
    <mat-icon>
      {{ buttonAction.icon }}
    </mat-icon>
  </button>
</ng-template>