@use '@firestitch/style/styles' as fs-style;

.header {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  margin-top: fs-style.$safe-area-top;

  .actions {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .action + .action,
    fs-menu {
      margin-left: 8px;
    }

    &.left {
      justify-content: flex-start;
      flex-grow: 1;
    }
    

    &.right {
      justify-content: flex-end;
      flex-grow: inherit;
    }

    mat-icon,
    ::ng-deep fs-menu mat-icon {
      color: #fff;
    }
  }
}
