<div  
    (click)="click(item)"
    class="file"
    [style.height]="(imageHeight ? imageHeight + 'px' :null)"
    [style.width]="(imageWidth ? imageWidth + 'px' :null)"
    [ngClass]="{
      'file-folder': item.folder,
      'file-image': item.mime.type === MimeType.Image,
      'file-video': item.mime.type === MimeType.Video,
      'file-audio': item.mime.type === MimeType.Audio,
      'file-application': item.mime.type === MimeType.Application
    }">
  <ng-container *ngIf="galleryService.thumbnailPreviewTemplate; else template">
    <ng-template
      [ngTemplateOutlet]="galleryService.thumbnailPreviewTemplate"
      [ngTemplateOutletContext]="{ item: item, template: template }">
    </ng-template>
  </ng-container>
</div>

<ng-template #template>
  <ng-container [ngSwitch]="item.mime.type">
    <ng-template [ngSwitchCase]="MimeType.Image">
      <ng-container *ngIf="galleryService.config.thumbnail.size === GalleryThumbnailSize.Cover">
        <div class="image-cover"        
          [style.backgroundSize]="galleryService.config.thumbnail.size"
          [style.backgroundPosition]="galleryService.config.thumbnail.position"
          [style.backgroundImage]="'url(' + item.preview + ')'">
        </div> 
      </ng-container>
      <ng-container *ngIf="galleryService.config.thumbnail.size === GalleryThumbnailSize.Contain">
        <img class="image-contain" [src]="item.preview">
      </ng-container>
    </ng-template>
  
    <ng-template ngSwitchDefault>
      <fs-gallery-file-icon 
        [item]="item">
      </fs-gallery-file-icon>
    </ng-template>
  </ng-container>
</ng-template>