:host {
  width: 100%;
  .fs-gallery-preview-carousel {
    // Scroll doesn't work correctly with display: flex; and jsustify-content: center;
    position: absolute;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    white-space: nowrap;
    text-align: center;
    overflow-x: auto;

    ::ng-deep {
      .fs-gallery-thumbnail {
        margin-right: 5px;
        display: inline-block;
        width: 100px;
        height: 80px;
        cursor: pointer;

        &.active {
          img {
            border: 2px solid #fff;
            width: 96px;
            height: 76px;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
