:host {
  .fs-gallery-preview-carousel-thumbnail {
    display: inline-block;
    width: 100px;
    height: 80px;
    cursor: pointer;
    &.active {
      img {
        border: 2px solid #fff;
        width: 96px;
        height: 76px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
