.fs-gallery-thumbnail {
  display: block;
  position: relative;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  box-sizing: content-box;
  background-color: #fff;

  &.layout-grid {
    height: 100%;
  }

  &.layout-flow {
    flex-direction: column;
  }

  &.has-info {
    ::ng-deep {
      .image-cover,
      .image-contain {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}
