:host {

  ::ng-deep {
    .fs-gallery-thumbnail {
      display: block;
      position: relative;
      cursor: pointer;

      .fs-gallery-thumbnail-poster {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        mat-icon {
          display: none;
          color: #fff;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -12px;
          margin-top: -12px;
        }
      }

      &:not(.carousel) {
        /*&:hover {
          .fs-gallery-thumbnail-actions {
            display: block;
          }

          .description {
            display: none;
          }

          .fs-gallery-thumbnail-poster {
            background-color: rgba(0, 0, 0, 0.5);

            mat-icon {
              display: block;
            }
          }
          img {
            transform: scale3d(1.1, 1.1, 1.1);
          }
        }*/
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      .fs-gallery-thumbnail-actions {
        z-index: 10;

        .item-actions {
          max-height: 38px;
        }

        .bottom-left {
          position: absolute;
          left: 0;
          bottom: 0;
        }
        .bottom-right {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .top-left {
          position: absolute;
          top: 0;
          left: 0;
        }
        .top-right {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    .fs-gallery-thumbnail-custom {
      cursor: pointer;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  box-sizing: border-box;

  .tags {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 2px 4px;
    ::ng-deep {
      .pill {
        margin-right: 4px;
      }
    }
  }
  .name {
    display: flex;
    position: relative;
    max-width: 60%;
    color: #000;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;

    span {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.carousel {
  .description {
    display: none;
  }
}