<div
  class="fs-gallery-thumbnail"
  id="fs-gallery-thumbnail-{{ data.index }}"
  [style.width]="galleryService.config.layout===galleryLayout.Grid ? '' : galleryService.imageWidth + 'px'">

    <ng-container
      *ngIf="galleryService.thumbnailContainerTemplate; else defaultThumbnailContainer">
        <ng-template
          [ngTemplateOutlet]="galleryService.thumbnailContainerTemplate"
          [ngTemplateOutletContext]="{ item: data }">
        </ng-template>
    </ng-container>

    <ng-template #defaultThumbnailContainer>

      <fs-gallery-thumbnail-preview
        [item]="data">
      </fs-gallery-thumbnail-preview>

      <div class="fs-gallery-thumbnail-content">
        <fs-gallery-thumbnail-info
          [item]="data">
        </fs-gallery-thumbnail-info>
      </div>

    </ng-template>
</div>

