<div  
    (click)="click(item)"
    class="file"
    [style.height]="(imageHeight ? imageHeight + 'px' :null)"
    [style.width]="(imageWidth ? imageWidth + 'px' :null)"
    [ngClass]="{
      'previewable': config.preview && !!preview  ,
      'file-folder': item.folder,
      'file-image': item.mime.type === MimeType.Image,
      'file-video': item.mime.type === MimeType.Video,
      'file-audio': item.mime.type === MimeType.Audio,
      'file-application': item.mime.type === MimeType.Application
    }">
  <ng-container *ngIf="galleryService.thumbnailPreviewTemplate; else template">
    <ng-template
      [ngTemplateOutlet]="galleryService.thumbnailPreviewTemplate"
      [ngTemplateOutletContext]="{ item: item, template: template }">
    </ng-template>
  </ng-container>
</div>

<ng-template #template>
  <ng-container *ngIf="(preview | imageSrc:config.thumbnail.size === GalleryThumbnailSize.Cover | async) as preview; else fileIcon">      
    <ng-container [ngSwitch]="item.mime.type">
      <ng-template [ngSwitchCase]="MimeType.Image">
        <ng-container *ngIf="config.thumbnail.size === GalleryThumbnailSize.Cover">
          <div class="image-cover"        
            [style.backgroundSize]="config.thumbnail.size"
            [style.backgroundPosition]="config.thumbnail.position"
            [style.backgroundImage]="preview">
          </div> 
        </ng-container>
        <ng-container *ngIf="config.thumbnail.size === GalleryThumbnailSize.Contain">
          <img class="image-contain" [src]="preview">
        </ng-container>
      </ng-template>
    
      <ng-template ngSwitchDefault>
        <ng-container [ngTemplateOutlet]="fileIcon"></ng-container>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #fileIcon>
  <fs-gallery-file-icon 
    [width]="iconWidth"
    [height]="iconHeight"
    [item]="item">
  </fs-gallery-file-icon>
</ng-template>