<div
    (click)="click(item)"
    class="file"
    [style.height]="(imageHeight ? imageHeight + 'px' :null)"
    [style.width]="(imageWidth ? imageWidth + 'px' :null)"
    [ngClass]="{
      'previewable': config.preview && !!preview  ,
      'file-folder': item.folder,
      'file-image': item.mime.type === MimeType.Image,
      'file-video': item.mime.type === MimeType.Video,
      'file-audio': item.mime.type === MimeType.Audio,
      'file-application': item.mime.type === MimeType.Application
    }">
  <ng-container *ngIf="galleryService.thumbnailPreviewTemplate; else template">
    <ng-template
      [ngTemplateOutlet]="galleryService.thumbnailPreviewTemplate"
      [ngTemplateOutletContext]="{ item: item, template: template }">
    </ng-template>
  </ng-container>
</div>
<ng-template #template>
  <ng-container *ngIf="preview; else fileIcon">
    @if ((preview | imageSrc| async); as previewImage) {
      <img
        [ngClass]="{
          'image-contain': config.thumbnail.size === GalleryThumbnailSize.Contain,
          'image-cover': config.thumbnail.size === GalleryThumbnailSize.Cover,
        }"
        [src]="previewImage">
    } @else {
      <div class="image-placeholder">
        <mat-progress-spinner
          [diameter]="40"
          [mode]="'indeterminate'">
        </mat-progress-spinner>
      </div>
    }
  </ng-container>
</ng-template>
<ng-template #fileIcon>
  <fs-gallery-file-icon
    [width]="iconWidth"
    [height]="iconHeight"
    [item]="item">
  </fs-gallery-file-icon>
</ng-template>