.file {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    font-size: 12px;
    text-align: center;
    width: 100%;
  }

  &.previewable {
    cursor: pointer;
  }

  &:not(.previewable) {
    min-width: 150px;
    min-height: 100px;
  }

  &.file {
    display: flex;
    max-width: 100%;

    img {
      height: 100%;
      width: 100%;
      min-width: 50px;
      object-position: top;

      &.image-cover,
      &.image-contain {
        border-radius: 4px;
      }

      &.image-contain {
        object-fit: contain;
      }

      &.image-cover {
        object-fit: cover;
      }
    }
  }
}
