@import "./../../styles.scss";

:host {

  ::ng-deep {
    [hidden] {
      display: none !important;
    }
  }

  .fs-gallery-thumbnails {
    display: flex;
    flex-wrap: wrap;
    /deep/ .fs-gallery-thumbnail {
      // @TODO
      margin: 0 6px 4px 0;
    }
  }
}
