<div
  *ngIf="fsGalleryService.config.draggable"
  class="fs-gallery-thumbnails"
  [dragula]="fsGalleryService.config.dragName"
  [dragulaModel]="model"
  (dragulaModelChange)="writeValue($event)">
  <ng-container *ngTemplateOutlet="thumbnailsTemplate"></ng-container>
</div>

<div
  *ngIf="!fsGalleryService.config.draggable"
  class="fs-gallery-thumbnails">
  <ng-container *ngTemplateOutlet="thumbnailsTemplate"></ng-container>
</div>

<ng-template #thumbnailsTemplate>
  <fs-file
    *ngFor="let item of model"
    (select)="onUpdateImage(item, $event)"
    (click)="onUpdateImageClick($event)"
    [ngClass]="{ 'update-image': fsGalleryService.config.updateImage }"
    accept="image/*">
      <fs-gallery-thumbnail
        #fsGalleryThumbnail
        [data]="item"
        (select)="openPreview($event)"
        (updateImage)="onUpdateImage($event)"
      >
      </fs-gallery-thumbnail>
  </fs-file>
</ng-template>
