<div
  *ngIf="fsGalleryService.config.draggable"
  class="fs-gallery-thumbnails"
  [dragula]="fsGalleryService.config.dragName"
  [dragulaModel]="model"
  (dragulaModelChange)="writeValue($event)">
  <ng-container *ngTemplateOutlet="thumbnailsTemplate"></ng-container>
</div>

<div
  *ngIf="!fsGalleryService.config.draggable"
  class="fs-gallery-thumbnails">
  <ng-container *ngTemplateOutlet="thumbnailsTemplate"></ng-container>
</div>

<ng-template #thumbnailsTemplate>
    <fs-gallery-thumbnail
      #fsGalleryThumbnail
      *ngFor="let item of model"
      [data]="item"
      (select)="openPreview($event)"
    >
    </fs-gallery-thumbnail>
</ng-template>
