@import "./../../styles.scss";

:host {

  ::ng-deep {
    [hidden] {
      display: none !important;
    }
  }

  .fs-gallery-thumbnails {
    display: flex;
    flex-wrap: wrap;

    ::ng-deep {
      fs-file {
        // @TODO
        margin: 0 6px 4px 0;

        &.update-image {
          &.dragover {
            .fs-gallery-thumbnail {
              border: 4px solid #2196f3;
              box-sizing: border-box;
              img {
                opacity: 0.5;
              }
            }
          }
        }
      }

    }
  }

}
