@import './../tools/assets/playground.scss';
@import "~dragula/dist/dragula.css";
@import "~@firestitch/message/styles";
@import "~@firestitch/file/styles";
@import "~@firestitch/drawer/styles";
@import "~@firestitch/filter/styles";
@import "../src/app/styles";

@include fs-drawer($mat-blue);
@include fs-file($mat-blue);

