$preview-gradient:  radial-gradient(circle at 91.25% 19.54%, #a78ba2, transparent 36%),
                    radial-gradient(circle at 50.63% 43.17%, #57757c, transparent 61%),
                    radial-gradient(circle at 13.06% 16.67%, #405459, transparent 70%),
                    radial-gradient(circle at 12.99% 74.73%, #191723, transparent 100%),
                    radial-gradient(circle at 88.33% 83.33%, #222537, transparent 100%),
                    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);

$header-gradient:   radial-gradient(circle at 27.78% 27.6%, #637073, transparent 100%),
                    radial-gradient(circle at 81.74% 26.23%, #a789a0, transparent 67%),
                    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
