
::ng-deep {
  @media (max-width: 800px) {
    fs-gallery-zoom-control {
      display: none !important;
    }
  }
}

button {
  height: 36px;
  line-height: 36px;
}

:host ::ng-deep {
  .mat-slider-horizontal {
    height: auto;
    .mat-slider-wrapper {
      top: 7px;
    }
  }
}