@import "../../styles.scss";

.fs-gallery-preview-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  outline: none;
  overflow: visible;

  background: $preview-gradient;

  &[hidden] { display: none !important; }
}

.fs-gallery-preview {
  z-index: 3000;
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;

  .preview {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 0;
    user-select: none;

    &:not(.extension-pdf) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.extension-pdf {
      overflow: auto;
    }

    .image {
      display: flex;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      width: auto !important;
      height: auto !important;
    }
  }

  .preview.extension-pdf {
    .prev-overlay,
    .next-overlay {
      position: absolute;
    }
  }

  .prev-overlay,
  .next-overlay {
    position: absolute;
    top: 0;
    width: 50%;
    user-select: none;
    z-index: 999;
    display: block;
    float: left;
    height: 100%;
      
    svg {
      position: absolute;
      top: 50%;
    }

    &.prev-overlay {
      left: 0;

      svg {
        left: 50px;
      }
    }

    &.next-overlay {
      right: 0;
      
      svg {
        right: 50px;
      }
    }

    &:hover {
      svg {
        visibility: visible;
      }
    }

    svg {
      width: 40px;
      fill: #f5f5f5;
      text-shadow: beige;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
      visibility: hidden;
    }
  }
}

// Global style (preview, header)
:host {
  &.carousel .fs-gallery-preview.multiple {
    .image-wrap {
      cursor: pointer;
    }
  }

  ::ng-deep {
    .mat-drawer {     
      &:not(.mat-drawer-opened, .ng-animating) {
        right: unset;
        left: 0;
      }
    }

    .mat-drawer-container {
      background-color: transparent;
      width: 100%;

      .mat-drawer-backdrop {
        background-color: transparent;
      }

      .mat-drawer-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        box-sizing: border-box;
      }
    }
  }
}
