<div class="fs-gallery-preview-backdrop" (click)="close()"></div>

<div class="fs-gallery-preview" [ngClass]="{ 'multiple': hasManyItems }">

  <fs-gallery-preview-header
    [totalItems]="totalImages"
    [activeIndex]="activeImageIndex"
    (close)="close()">
  </fs-gallery-preview-header>

  <div class="wrap">
    <div class="panel">

      <div class="preview">
        <div
          class="image-wrap"
          (mouseenter)="imageHover = true"
          (mouseleave) ="imageHover = false">

          <a *ngIf="hasManyItems" class="action prev" [ngClass]="{ hidden: !imageHover }" (click)="prev()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </a>

          <div
            [ngSwitch]="activeItem.mime.type"
            [class]="'file file-' + activeItem.mime.type">

            <ng-template [ngSwitchCase]="'image'">
              <img
                class="image"
                (click)="imageClick($event)"
                [src]="activeItem.url"
                (swipeleft)="next()"
                (swiperight)="prev()">
            </ng-template>

            <ng-template [ngSwitchCase]="'video'">
              <div class="file-ext">{{activeItem.mime.subtype}}</div>
            </ng-template>

            <ng-template [ngSwitchCase]="'application'">
              <div class="file-ext">{{activeItem.mime.subtype}}</div>
            </ng-template>

            <!-- <ng-container *ngIf="galleryService.previewTemplate">
              <ng-container
                [ngTemplateOutlet]="galleryService.previewTemplate"
                [ngTemplateOutletContext]="{ item: activeItem }">
              </ng-container>
            </ng-container> -->
          </div>

          <a *ngIf="hasManyItems" class="action next" [ngClass]="{ hidden: !imageHover }" (click)="next()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </a>
        </div>
      </div>

      <!-- @TODO place for right sidenav -->
    </div>

    <fs-gallery-preview-carousel
      *ngIf="hasManyItems"
      [data]="availableImages"
      [activeItem]="activeItem"
      (previewSelected)="setActiveItem($event)">
    </fs-gallery-preview-carousel>
  </div>
</div>
