@import "../../styles.scss";

.fs-gallery-preview-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  outline: none;
  overflow: visible;

  background: $preview-gradient;

  &[hidden] { display: none !important; }
}

.fs-gallery-preview {
  z-index: 3000;
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;

  .preview {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 0;
    user-select: none;

    .image {
      display: flex;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      width: auto !important;
      height: auto !important;
    }
  }

  .prev-overlay,
  .next-overlay {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    user-select: none;

    &.prev-overlay {
      left: 0;

      mat-icon {
        position: absolute;
        left: 50px;
        top: 50%;
      }
    }

    &.next-overlay {
      right: 0;
      
      mat-icon {
        position: absolute;
        right: 50px;
        top: 50%;
      }
    }

    &:hover {
      mat-icon {
        visibility: visible;
      }
    }

    mat-icon {
      transform: scale(3);
      color: #fff;
      visibility: hidden;
    }
  }
}

// Global style (preview, header)
:host {
  &.carousel .fs-gallery-preview.multiple {
    .image-wrap {
      cursor: pointer;
    }
  }

  ::ng-deep {
    .mat-drawer {     
      &:not(.mat-drawer-opened, .ng-animating) {
        right: unset;
        left: 0;
      }
    }

    .mat-drawer-container {
      background-color: transparent;
      width: 100%;

      .mat-drawer-backdrop {
        background-color: transparent;
      }

      .mat-drawer-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        box-sizing: border-box;
      }
    }
  }
}
