<div class="fs-gallery-preview" [ngClass]="{ 'multiple': hasManyItems }">
  <mat-drawer-container   
      class="example-container">
    <mat-drawer 
        (openedStart)="drawerShow = true"
        (closedStart)="drawerShow = false"
        [mode]="drawerMode" 
        [ngClass]="{ show: drawerShow }"
        [opened]="drawer.opened && !!galleryConfig.details" 
        [position]="'end'">
      <fs-gallery-preview-details  
        [item]="activeItem"    
        [galleryService]="galleryService"  
        [image]="activeImage"
        (detailsToggled)="detailsToggled()">
      </fs-gallery-preview-details>
    </mat-drawer>
    <mat-drawer-content>   
      <fs-gallery-preview-header
        [galleryService]="galleryService"
        [item]="activeItem"
        (previewClosed)="close()"
        (detailsToggled)="detailsToggled()">
      </fs-gallery-preview-header>

      <div class="preview" [class]="'file file-' + activeItem.mime.type">
        <ng-container [ngSwitch]="activeItem.mime.type">
          <ng-template [ngSwitchCase]="MimeType.Image">
            <img class="image" 
              (load)="imageLoad($event)"
              [src]="activeItem.url" 
              (swipeleft)="nextItem()"
              (swiperight)="prevItem()">
          </ng-template>
  
          <ng-template ngSwitchDefault>
              <fs-gallery-file-icon 
              [width]="150"
              [item]="activeItem">
            </fs-gallery-file-icon>
          </ng-template>
        </ng-container>
        
        <a class="prev-overlay" *ngIf="hasPrevItem" (click)="prevItem()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
        <a class="next-overlay" *ngIf="hasNextItem" (click)="nextItem()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
      </div>
      
      <fs-gallery-preview-carousel 
        *ngIf="hasManyItems" 
        [items]="availableImages" 
        [activeItem]="activeItem"
        (activeItemChanged)="setActiveItem($event)">
      </fs-gallery-preview-carousel>

    </mat-drawer-content>
  </mat-drawer-container>
</div>
<div class="fs-gallery-preview-backdrop"></div>