:host {
  overflow: hidden;
}

::ng-deep {
  .gallery-thumbnail-tooltip {
    margin-top: -4px !important;
  }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-size: 90%;
  box-sizing: border-box;
  padding: 0 7px;
  height: 40px;
  justify-content: end;

  .tags {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 2px 4px;

    ::ng-deep {
      .pill {
        margin-right: 4px;
      }
    }
  }

  .icon {
    margin-right: 5px;
    align-items: center;
    display: flex;
  }

  .name {
    display: flex;
    position: relative;
    min-width: 0;
    color: #000;
    box-sizing: border-box;
    flex: 1;
    align-items: center;

    div {
      position: absolute;
      width: 100%;
      align-items: center;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .description {
      font-size: 80%;
    }
  }

  fs-gallery-menu {
    align-items: center;
    display: flex;
  }
}

::ng-deep fs-gallery-thumbnail.gu-mirror {
  .info {
    display: none;
  }
}