<ng-container *ngIf="showIcon || name || !!menuItems.length">
  <div class="info">
    <div
        *ngIf="item.mime.type && showIcon"
        class="icon">
      <fs-gallery-icon [item]="item"></fs-gallery-icon>
    </div>

    <div class="name" 
        *ngIf="name"
        [matTooltip]="item.name" 
        [matTooltipClass]="'gallery-thumbnail-tooltip'">
      <div>{{ name }}</div>
    </div>
    <fs-gallery-menu
      [item]="item"
      [menuItems]="menuItems">
    </fs-gallery-menu>
  </div>
</ng-container>