<div class="info">
  <div
      *ngIf="item.mime.type && showIcon"
      class="icon">
    <fs-gallery-icon [item]="item"></fs-gallery-icon>
  </div>

  <div class="name" [matTooltip]="item.name" matTooltipPosition="above">
    <div>{{ item.name }}</div>
  </div>

  <fs-menu *ngIf="fsGalleryService.config.info.menu">
    <ng-template
        fs-menu-item
        (click)="menuClick($event, action, item)"
        *ngFor="let action of fsGalleryService.config.info.menu.actions">
      {{action.label}}
    </ng-template>
  </fs-menu>
</div>
