<div class="info">
  <div
      *ngIf="item.mime.type && showIcon"
      class="icon">
    <fs-gallery-icon [item]="item"></fs-gallery-icon>
  </div>

  <div class="name" 
      *ngIf="fsGalleryService.config.info.name"
      [matTooltip]="item.name" 
      [matTooltipClass]="'gallery-thumbnail-tooltip'">
    <div>{{ item.name }}</div>
  </div>

  <fs-menu *ngIf="fsGalleryService.config.info.menu">
    <ng-template
        fs-menu-item
        (click)="menuClick($event, action, item)"
        *ngFor="let action of actions">
      {{action.label}}
    </ng-template>
  </fs-menu>
</div>
