<div class="fs-gallery-preview-backdrop" (click)="close($event)"></div>

<div class="fs-gallery-preview">
  <fs-gallery-preview-header></fs-gallery-preview-header>
  <div class="wrap">
    <div class="panel">

      <div class="preview">

        <div
          class="image-wrap"
          (mouseenter)="imageHover = true"
          (mouseleave) ="imageHover = false">

          <a class="action prev" [ngClass]="{ hidden: !imageHover }" (click)="prev()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </a>

          <img
            class="image"
            (click)="imageClick($event)"
            src="{{ image }}"
            (swipeleft)="next()"
            (swiperight)="prev()">

          <a class="action next" [ngClass]="{ hidden: !imageHover }" (click)="next()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </a>
        </div>

        <div *ngIf="fsGalleryService.previewTemplate" class="description">
          <ng-template
            [ngTemplateOutlet]="fsGalleryService.previewTemplate"
            [ngTemplateOutletContext]="{ item: data }"
          ></ng-template>
        </div>
      </div>

      <!-- @TODO place for right sidenav -->
    </div>

    <fs-gallery-preview-carousel></fs-gallery-preview-carousel>
  </div>
</div>
