<div class="fs-gallery-preview-carousel">
  @for (item of items; track item; let index = $index) {
    <a
      (click)="itemClick(item)"
      [attr.data-index]="index"
      [ngClass]="{ active: activeItem.guid === item.guid }">
      @if (item.preview) {
        @if (item.preview | imageSrc | async; as image) {
          <img
            [src]="image"
            (load)="loaded()">
        } @else {
          <mat-progress-spinner
            [diameter]="30"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        }
      } @else {
        <ng-container [ngTemplateOutlet]="icon"></ng-container>
      }
      <ng-template #icon>
        <fs-gallery-file-icon
          [width]="60"
          [item]="item">
        </fs-gallery-file-icon>
      </ng-template>
    </a>
  }
</div>