:host {
  width: 100%;
  .fs-gallery-preview-carousel {
    // Scroll doesn't work correctly with display: flex; and jsustify-content: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
    white-space: nowrap;
    text-align: center;
    overflow-x: auto;

    ::ng-deep {
      .fs-gallery-thumbnail {
        margin-right: 9px;
        display: inline-block;
        cursor: pointer;
        width: auto !important;

        .file {
          height: auto !important;
        }

        .info {
          display: none;
        }

        &.active {
          img, .file-icon {
            border: 2px solid #fff;
          }
        }

        img {
          object-fit: cover;
          border: 2px solid transparent;
          width: 76px !important;
          height: 76px !important;
        }
      }
    }
  }
}
