<div class="fs-gallery-preview-carousel">
  <ng-container
      *ngFor="let item of items; let index = index;">
    <a 
        (click)="itemClick(item)"
        [attr.data-index]="index"
        [ngClass]="{ active: activeItem.guid === item.guid }">
      <ng-container [ngSwitch]="item.mime.type">
        <ng-template [ngSwitchCase]="MimeType.Image">
          <ng-container *ngIf="(item.url | imageSrc | async) as image">
            <img [src]="image" (load)="loaded()">
          </ng-container>
        </ng-template>
        <ng-template ngSwitchDefault>
          <fs-gallery-file-icon 
            [height]="100"
            [width]="null"
            [item]="item">
          </fs-gallery-file-icon>
        </ng-template>
      </ng-container>
    </a>
  </ng-container>
</div>